<div class="container">
  <h1>Your Account</h1>
   <nav>
    <div>
      <a routerLink="/sell-car">Sell your car</a>
      <a routerLink="/your-car">Your Car</a>
      <a routerLink="/updateclient">Edit Account</a>
      <a routerLink="/logout">Logout</a>
      <a routerLink="/delete-account">Delete Account</a>
    </div>
  </nav>
  <div>
    <footer>
   <div> <p>The website is created 2024 year <br>Rights reserved.<span>&copy;</span></p></div>
    <div><p>Contact us : 0877777777 <br> Email : bestCar@gmail.com</p></div>
    </footer>
</div>
</div>
