<div class="container">
  <h1>Welcome</h1>
  <nav>
    <div>
      <a routerLink="/sport-cars">Sports Cars</a>
      <a routerLink="/suv-cars">SUV Cars</a>
      <a routerLink="/hybrid-cars">Hybrid Cars</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  </nav>
  <div>
    <footer>
   <div> <p>The website is created 2024 year. <br>Rights reserved.<span>&copy;</span></p></div>
    <div><p>Contact us : 0877777777 <br> Email : bestCar@gmail.com</p></div>
    </footer>
</div>
</div>
